# Виртуальное окружение
.baistoreVENV/

# Базы данных
db.sqlite3

# Кеши Python
__pycache__/

# Настройки IDE
.vscode/
.idea/

# Файлы и папки логов
*.log
logs/

# Компилированные файлы Python
*.pyc
*.pyo
.env
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?